/*
Colors used:
Primary Color (salmon): #da6f52;
Secondary Color (orange): #e69836;
Tertiary Color (ltgreen): #F3FAE8
*/
/*
Fonts Used:
Primary: Montserrat Light 300
Secondary: Montserrat Medium 500
Tertiary: Montserrat Bold 700
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  padding: 10px 5px;
  /* Adds 10px to top & bottom and 5px to left and right */
  margin: 10px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1.0em;
  font-weight: 500;
}

img {
  width: 100%;
}

/* buttons and links */
a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  /* Underlining when hovering over a link */
  font-weight: 500;
  background-color: #F3FAE8;
}

a:active {
  text-decoration: underline;
  /* Underlining when hovering over a link */
  font-weight: 500;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #FFFFFF;
  /* needed to override the default link color */
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
}

.button:hover {
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: 500;
  padding: 10px;
  opacity: 0.8;
}

.button.contact {
  background-color: #000000;
  color: #F3FAE8;
  /* needed to override the default link color */
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
}

.button.contact:hover {
  background-color: #000000;
  color: #F3FAE8;
   text-decoration: underline;
  font-weight: 500;
  padding: 10px;
}
  width: 100%;
}



.picture-pulse__image {
  display: block;
  width: 40%;


}
