/*
Colors used:
Website Footer Color (ltgreen): #d8ffcc
orbit purple: #5F62F4
*/

/*
Fonts Used:
Nunito
Primary: 300 Regular
Playfair
Primary: Regular 400
Secondary:  Medium 500
Tertiary: Bold 700
Last: Black 900

*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 300;

  /* Sets the font weight to 400 */
  line-height: 1.4;

  /* Sets the line-height to 1.6 * the font-size */
  color: #000;

  /* Adds 10px to top & bottom */
}

li {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
}

h4 {
  font-size: 1em;
  font-weight: 300;
  margin-top: 0;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

main {
  margin-left: 0;
  margin-right: 0;
}

img {
  width: 100%;
}

/* buttons and links */
a {
  font-family: "Nunito", sans-serif;
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.current__active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
}

a:active {
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  background-color: transparent;
}

#headings {
  font-size: 0.9em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #909190;
}

.email {
  text-align: center;
  padding-top: 4%;
}

.resumebutton {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  color: #3a3a3a;
  background-color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 9999px;
  border: solid #3a3a3a 1px;
  transition: all ease-in 150ms;
 

}

.resumebutton:hover {
  font-family: "Nunito", sans-serif;
  background-color: #3a3a3a;
  color: #fff;

}

.uibutton {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  color: #fff;
  background-color: #5ea130;
  font-size: 1em;
  font-weight: 700;
  padding: 0.7em 1.8em;
  text-decoration: none;
  border-radius: 0.4em;
  border-top: 0.1em solid #547f33;
  border-left: 0.1em solid #547f33;
  border-right: 0.1em solid #547f33;
  border-bottom: 0.3em solid #547f33;
 
}

.uibutton:hover {
  font-family: "Nunito", sans-serif;
  background-color: #5ea130;
  border-bottom: 0.1em solid #547f33;
  border-top: 0.1em solid #547f33;
  border-left: 0.1em solid #547f33;
  border-right: 0.1em solid #547f33;
 
}


/* sections */

/* index body */
.bod {
  margin-bottom: 100px;
  background-color: #fcf9f2;
  padding-bottom: 50px;
}

header {
  background-color: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  width: 100%;

  /* a fixed header messes up margin */
  box-shadow: 1px 3px 5px 1px rgba(50, 50, 50, 0.05);
  z-index: 300;
}

/* The pulse progress container (background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #fff;
}

/* The pulse progress bar (scroll indicator) */
.pulseprogress-bar {
  height: 3px;
  background: #779fbf;
  width: 0%;
}

/* The alocal progress bar (scroll indicator) */
.alocalprogress-bar {
  height: 3px;
  background: #60c3d8;
  width: 0%;
}

/* The alocal progress bar (scroll indicator) */
.orbitprogress-bar {
  height: 3px;
  background: #5f62f4;
  width: 0%;
}

.homebackgroundcolor {
  background-color: #fff;
  overflow: hidden;
}

.contact_main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactbackgroundcolor {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.linkin_button-div {
  margin-top: 35px;
}

.page-layout {
  background-color: #fff;
  overflow: hidden;
}

/* navigation */
nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;

  /* remove bullets and padding from list */
}

nav > ul > li > a {
  padding: 0 15px;
  display: inline-block;
  width: auto;
}

.navigation a:hover {}

.navigation a:active {}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  padding-top: 20px;
}

.navtoggle {
  margin-left: 4%;
  margin-right: 4%;
}

.navtoggle.responsive nav {
  text-align: left;
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: flex;
  padding: 50px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Layout styling */
.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-layout {
  position: relative;
  min-height: 95vh;
}

.about-container {
  display: flex;
  padding: 110px 40px 0;
}

.img-content {
  flex: 2;
}

.about-content {
  flex: 1;
  margin-top: 10px;
  margin-left: 20px;
}

.title {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30px;
  padding-right: 20px;
}

.row {
  /* display: flex; */
  /* height: 27rem; */
  margin: 20px 10% 60px 10%;
  padding: 30px 20px;
  background-color: #ebebeb;
  box-shadow: 3px 4px 11px 6px rgba(50, 50, 50, 0.09), 0px 1px 3px 1px rgba(50, 50, 50, 0.09);
  border-radius: 1.25rem;
}

.alocalrow {
  background-color: #fff;
}

.pulserow {
  background-color: #fff;
}

.orbitrow {
  background-color: #fff;
}

/* 25px top and bottom, 0 left and right */
.skills {
  margin-left: 10%;
  display: block;
}

.logo {
  max-width: 45px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fffff;
  color: #000;
  width: 80vw;
  height: 100vh;
  padding-top: 2%;
  font-size: 1em;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;

  /* margin: 0 auto; */
}

.heroimage {
  max-width: 60%;
  max-height: 400px;
}

.highlight {
  font-size: 1em;
}

#full {
  height: 4vh;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 1.5em;
}

#herotext {
  font-weight: 500;
  text-align: left;
  font-size: 2em;
}

.herobold {
  background-color: #f4f98f;
}

#headbody {
  font-size: 1.25em;
}

.herobig {
  font-size: 1em;
}

/* contact page */
.contact-box {
  background-color: #fff;
  color: #000;
  width: 80vw;
  text-align: center;
  align-items: center;
  box-shadow: 2px 3px 5px 3px rgba(50, 50, 50, 0.05);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 12%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.standard-label {
  width: 100%;
}

.big {
  font-size: 1em;
}


/* visual page */

.visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.visualelement {
  max-width: 550px;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 20px;
}


/* about page */
#about-page h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.portrait {
  /* float: left; */

  /* image stays left of text */
  max-width: 350px;
  height: auto;
  margin-right: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  /* text wraps image */
}

.port-div {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.aboutline {
  margin-top: 50px;
  margin-bottom: 75px;
  color: #fff;
  background-color: #fff;
}

.personallink {
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  background-color: #fff;
}

.personallink:hover {
  font-family: "Nunito", sans-serif;
  color: #4e1881;
 
}

.story {
  text-align: center;
  display: block;
  padding: 50px 20px 20px;
  margin-left: 0;
  margin-right: 10px;
}

.about-content {
  margin-right: 5%;
  margin-left: 5%;
}

/* footer */
.footer {
  background-color: #ff;
  border-top: 0.6px;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: auto;
}

.emailme {
  font-size: 1em;
}

.footer-content {
  align-content: space-between;
}

.footer-content__item {
  text-align: center;
}

.copyright {
  font-size: 1em;
  text-align: center;
  padding-bottom: 5px;
}

.footer-content__item h4 {
  line-height: 0.6em;
}

.iconspace {
  padding-right: 7px;
  padding-left: 7px;
}

.icon {
  margin-bottom: 5px;
}

.copyright p {
  font-size: 0.8em;
}

/* pulse case study */
.pulsesection {
  display: inline-block;
  max-width: 960px;
  margin-top: 80px;
  text-align: left;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.pulsecontainer {
  text-align: center;
}

.picture-pulse__image {
  display: block;
  width: 90%;
}

.picture-pulse__medium-image {
  display: block;
  width: 95%;
  text-align: center;
}

.top {
  padding-top: 4%;
}

.pulsecaption {
  text-align: center;
  padding-top: 50px;
}

.bottomheader {
  text-align: center;
}

.nextimage {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 30%;
}

.bottomimage {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 90px;
}

/* ==============================
orbit containers
================================= */

.top {
  margin-top: 60px;
}

.first {
  display: flex;
}

.orbitvideo {
  display: flex;
  justify-content: center;
}

#video {
  width: 300px;
  max-width: 300px;
}

.hypo {
  color: #767676;
  background-color: #fff;
}

.commentary {
  color: #6045bf;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #fff;
}

.orbitlogobig {
  max-width: 40%;
}

.notes {
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}

.orbitheader h1 {
  padding-top: 40px;
  text-align: left;
  color: #6045bf;
  background-color: #fff;
}

.orbitcolor {
  padding-top: 20px;
}

.orbitcase {
  margin-left: 5%;
  margin-right: 5%;
}

/* ==============================
alocal style
================================= */
.alocalimage {
  max-width: 600px;
  padding-top: 90px;
  margin: auto;
  display: block;
}

.alocalsection {
  display: inline-block;
  max-width: 960px;
  margin-top: 50px;
  text-align: left;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.alocalcontainer {
  text-align: center;
}

.alocalline {
  opacity: 0%;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* ==============================
Mini devices (350px and smaller)
================================= */
@media all and (max-width: 350px) {
  .portrait {
    text-align: left;
  }

  .about-container {
    display: flex;
    padding: 110px 10px 0;
  }

  .about-content {
    flex: 1;
    margin-top: 30px;
    margin-right: 5%;
  }

  .contact-content {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  .herobox {
    margin-top: 100px;
  }

  .herobig {
    line-height: 0;
  }

  .contact-box {
    margin-top: 30%;
  }
}

/* ==============================
Mini devices (351px to 400px)
================================= */
@media all and (min-width: 351px) and (max-width: 400px) {
  .contact-box {
    margin-top: 30%;
  }
}

/* ==============================
Mini devices (400px to 640px)
================================= */
@media all and (min-width: 400px) and (max-width: 640px) {
  .contact-box {
    margin-top: 20%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  /* for 2 column layout */
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .portrait {
    text-align: left;
  }
}

/* ==============================
Medium devices (640px and larger) NAVIGATION
================================= */
@media all and (min-width: 640px) {
  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
ipad devices (767px and smaller)
================================= */
@media all and (max-width: 767px) {
  .flexbox-container {
    display: grid;
  }

  .orbitcase {
    margin-left: 0;
  }

  /* orbit flexbox stack */
  .first {
    flex-wrap: wrap;
  }

  nav {
    width: auto;
    float: right;
    padding-right: 35px;
    padding-top: 10px;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .port-div {
    flex-basis: 100%;
  }

  .hero {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
    padding-bottom: 0;
    margin-bottom: 15%;
  }

  .heroimage {
    margin-top: 50px;
    margin-top: 20px;
    max-width: 100%;
  }

  #herotext {
    margin-top: 30px;
  }

  .herolink {
  }

  .hero2link {
      padding-bottom 5px
  }
}

/* ==============================
ipad devices (768px and larger)
================================= */
@media only screen and (min-width: 768px) {
  header {
    text-align: unset;
    padding-top: 10px;
    padding-left: 5px;
  }

  nav {
    width: auto;
    float: right;
    padding-right: 35px;
    padding-top: 1px;
  }

  .container {
    max-width: 1038px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  /* for 2 column layout */
  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Largeish devices (1200px or larger)
================================= */
@media only screen and (min-width: 1200px) {
  /* for container class max width 1200 */
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-box {
    margin-top: 8%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
}
