/*
Colors used:
Website Color (ltgreen): #E5FAE6
orbit purple: 5F62F4
Orbit Green: #287B55
Pulse Blue:
*/
/*
Fonts Used:
Primary: Montserrat Light 300
Secondary: Montserrat Medium 500
Tertiary: Montserrat Bold 700
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  /* Adds 10px to top & bottom */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1.0em;
  font-weight: 500;
  margin-top: 0
}

img {
  width: 100%;
}

/* buttons and links */
a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  text-decoration: underline;
  /* Underlining when hovering over a link */
  font-weight: 300;
}

.orbitlink {
  font-weight: 500;
}

.pulselink {
  font-weight: 700;
  color: #11827E;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #FFFFFF;
  /* needed to override the default link color */
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  transition: .3s opacity;
  border-radius: 0px;
  text-shadow: 5px;
}

.button:hover {
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: underline;
  padding: 10px;
  opacity: 0.7;
}

.button.contact {
  background-color: #000000;
  color: #F3FAE8;
  /* needed to override the default link color */
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  transition: 0.3s opacity;
}

.button.contact:hover {
  background-color: #000000;
  color: #Ffffff;
  text-decoration: underline;
  padding: 10px;
  opacity: 0.7;
}

/* sections */
header {
  background-color: #E5FAE6;
  position: fixed;
  width: 100%;
  /* a fixed header messes up margin */
  box-shadow: 1px 3px 5px 1px rgba(50, 50, 50, 0.44);
}
/* navigation */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin:0;
  /* remove bullets and padding from list */
}

nav>ul>li>a {
  padding: 0 15px;
  color: #000000;
  display: inline-block;
  width: auto;
}
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
   top: 2px;
  font-size: 20px;
  padding-top: 20px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px dashed;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

main {
  margin-left: 0px;
  margin-right: 0px;
}

footer {
  background-color: #E5FAE6;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

/* Layout styling */
.container {
  padding: 0 0px;
}

.row {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  /* 25px top and bottom, 0 left and right */
}

.skills {
  margin-left: 10%;
  display: block;
}

.hero {
  padding-top: 100.5px;
}

#hero h1 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  /* Centers text */
}

.logo {
  max-width: 100px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

.hero {
  background-color: #E5FAE6;
  text-align: center;
  padding: 150px 0;
  display: inline-block;
  width: 100%;
}

/* about page */
#about-page h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.aboutcontainer {
  padding-top: 80px;
  margin: 0 auto;
  text-align: left;
}

.portrait {
  float: left;
  /* image stays left of text */
  max-width: 450px;
  height: auto;
  margin-right: 10px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  shape-outside: circle()
    /* text wraps image */
}

.port-div {
  display: flex;
  flex-direction: column;
}

.resumebutton {
  text-align: center;
  padding-top: 40px;
}

.title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.story {
  background-color: #FFFFFF;
  text-align: center;
  padding: 150px 0;
  display: inline-block;
  width: 100%;
}

.pulsecontainer {
  text-align: center;
  margin-left: 5%;
  margin-left: 5%;
}

.picture-pulse__image {
  display: block;
  width: 40%;
}

.picture-pulse__medium-image {
  display: block;
  width: 70%;
}

.story {
  background-color: #FFFFFF;
  text-align: center;
  display: block;
  padding: 50px 20px 20px 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.footer-content {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.copyright {
  font-size: .75em;
}

/* ==============================
animation
================================= */
.illustration {
  width: 100%;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.portraitillustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ==============================
spaceship & beam
================================= */
@keyframes ship-sway {
  0% {
    transform: rotate(.3deg);
  }

  25% {
    transform: rotate(-.25deg);
  }

  50% {
    transform: rotate(.5deg);
  }

  75% {
    transform: rotate(-.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.spaceship {
  animation-duration: 2s;
  animation-name: ship-sway;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes beam-wiggle {
  0% {
    transform: rotate(.3deg);
  }

  25% {
    transform: rotate(-.25deg);
  }

  50% {
    transform: rotate(.5deg);
  }

  75% {
    transform: rotate(-.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.lightbeam {
  animation-duration: 2s;
  animation-name: beam-wiggle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes lightbeam-color {
  0% {
    fill: #edc7bb;
  }

  50% {
    fill: #dfe281;
  }

  100% {
    fill: #c3bbea;
  }
}

.lightbeam polygon {
  animation-duration: 3s;
  animation-name: lightbeam-color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


/* alien keyframes */

@keyframes nose-wiggle {
  0% {
    transform: rotate(.2deg);
  }

  25% {
    transform: rotate(-.2deg);
  }

  50% {
    transform: rotate(.1deg);
  }

  75% {
    transform: rotate(-.1deg);
  }

  100% {
    transform: rotate(.1deg);
  }
}

.nose {
  animation-duration: 2s;
  animation-name: nose-wiggle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


/* ==============================
Mini devices (500px and smaller)
================================= */
@media all and (max-width: 500px) {
  .portrait {
    shape-outside: none;
    text-align: center;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  /* for 2 column layout */
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .portrait {
    text-align: left;
  }
}

/* ==============================
Medium devices (640px and larger) NAVIGATION
================================= */
@media all and (min-width: 640px) {


nav>ul>li {
  display: inline-block;
}

nav>ul>li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

/* ==============================
ipad devices (767px and smaller)
================================= */
@media all and (max-width: 767px) {
  .flexbox-container {
    display: grid;
  }

}

/* ==============================
ipad devices (768px and larger)
================================= */
@media only screen and (min-width: 768px) {
  header {
    text-align: unset;
    padding-top: 10px;
    padding-left: 25px;
  }

  nav {
    width: auto;
    float: right;
    padding-right: 35px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  /* for 2 column layout */
  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Largeish devices (1200px or larger)
================================= */
@media only screen and (min-width: 1200px) {

  /* for container class max width 1200 */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
